# Function dependencies, for example:
# package>=version
functions-framework==3.8.3
firebase-admin==6.4.0
google-cloud-firestore==2.11.0 # Versione specifica per Firestore
google-api-core==2.11.0 # Necessario per Firestore
google-cloud-storage # Se per qualche ragione Firestore Admin avesse bisogno di GCS